<div class="slds-page-header">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-contact" title="Contacts">
        <app-slds-icon 
          styling="slds-icon"
          path="/standard-sprite/svg/symbols.svg#contact">
        </app-slds-icon> 
        <span class="slds-assistive-text">Contacts</span>
      </span>
    </div>

    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Contacts">Contacts</h1>
    </div>

    <button class="slds-button slds-button_brand">New</button>
    <button 
      (click)="filterPanelOpened=!filterPanelOpened;" 
      [ngClass]="{'slds-is-selected': filterPanelOpened}" 
      class="slds-button slds-button_icon slds-button_icon-border-filled slds-button_icon-border">
      <app-slds-icon 
        styling="slds-button__icon"
        path="/utility-sprite/svg/symbols.svg#filterList">
      </app-slds-icon> 
      <span class="slds-assistive-text">Filter contacts</span>
    </button>
  </div>
</div>

<div class="app-main">
  <div class="slds-col slds-p-around_medium">
    <app-contact-table></app-contact-table>
  </div>
  <div
    [ngClass]="{'slds-is-open': filterPanelOpened}"
    class="slds-panel slds-size_medium slds-panel_docked slds-panel_docked-right slds-is-directional" aria-hidden="false">
    <div class="slds-panel__header">
      <h2 class="slds-panel__header-title slds-text-heading_small">Filter Contacts</h2>
    </div>
    <div class="slds-panel__body">
      <app-contact-filter></app-contact-filter>
    </div>
  </div>
</div>