:host {
  display: block;
  line-height: 18px;
}
.lookup {
  padding: 0px !important;
}
.is-selected {
  box-shadow: 0 0 0 2px #fff inset, 0 0 0 3px #d8dde6 inset !important;
}
.button_lookup {
  // outline: solid 1px #f00;
  padding: 0;
}





