<td>
  <button 
    class="slds-button slds-button_icon slds-button_icon-x-small"
    (click)="edit(row)"
    >
    <app-slds-icon 
      styling="slds-button__icon"
      path="/action-sprite/svg/symbols.svg#edit">
    </app-slds-icon> 
    <span class="slds-assistive-text">Edit contact</span>
  </button>
</td>
<td [attr.data-label]="column.fieldPath" *ngFor="let column of columns" [ngSwitch]="column.type">
  <div class="slds-truncate" title="{{row[column.fieldPath]}}" *ngSwitchCase="'reference'">{{getReferenceValue(row[column.fieldPath])}}</div>
  <!-- TODO: modify date pipe format to match SFDC user format -->
  <div class="slds-truncate" title="{{row[column.fieldPath]}}" *ngSwitchCase="'date'">{{row[column.fieldPath] | date}}</div>
  <div class="slds-truncate" title="{{row[column.fieldPath]}}" *ngSwitchDefault>{{row[column.fieldPath]}}</div>
</td>