<div class="demo-only" style="height: 640px;" *ngIf="isOpen">
  <section role="dialog" 
    tabindex="-1" 
    aria-labelledby="modal-heading-01" 
    aria-modal="true" 
    aria-describedby="modal-content-id-1" 
    class="slds-modal"
    [class.slds-fade-in-open]="isOpen">
    <div class="slds-modal__container">
      <header class="slds-modal__header">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" (click)="close()">
          <app-slds-icon 
            styling="slds-button__icon slds-button__icon_large"
            path="/utility-sprite/svg/symbols.svg#close">
          </app-slds-icon> 
          <span class="slds-assistive-text">Close</span>
        </button>
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{{headerText}}</h2>
      </header>

      <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
        <ng-container *ngTemplateOutlet="modalContent"></ng-container>
      </div>

      <footer class="slds-modal__footer">
        <button class="slds-button slds-button_neutral" (click)="close()">Cancel</button>
        <button class="slds-button slds-button_brand" type="submit" form="editForm" [disabled]="!isValid">Save</button>
      </footer>
    </div>
  </section>
  <div 
    class="slds-backdrop"
    [class.slds-backdrop_open]="isOpen">
  </div>
</div>
