<div [formGroup]="form" class="slds-form-element slds-has-error" [ngClass]="{'slds-has-error': !isValid}">
  <label class="slds-form-element__label" [attr.for]="input.key">
    {{input.label}}
  </label>

  <div class="slds-form-element__control" [ngSwitch]="input.controlType">

    <input class="slds-input" *ngSwitchCase="'textbox'" [formControlName]="input.key"
            [id]="input.key" [type]="input.type">

    <input class="slds-input" *ngSwitchCase="'datePicker'" [formControlName]="input.key"
            [id]="input.key" [type]="input.type" [attr.min]="input.min" [attr.max]="input.max">

    <!-- <select [id]="input.key" *ngSwitchCase="'dropdown'" [formControlName]="input.key">
      <option *ngFor="let opt of input.options" [value]="opt.key">{{opt.value}}</option>
    </select> -->

    <!-- TODO: HARDCODE. pass objectName from field describe -->
    <app-lookup [id]="input.key" *ngSwitchCase="'lookup'" class="slds-form-element__control" [formControlName]="input.key"
      [selection]="input.value"
      (selectionChange)="form.controls[input.key].setValue($event.Id)"
      [objectName]="input.relatedObjectType"
      [lookupField]="'Name'"
      (onRemove)="input.value=null">
    </app-lookup>

  </div> 
  <div class="slds-form-element__help" *ngIf="!isValid">This field is required</div>
</div>